@charset "UTF-8";

html{
    font-size: 100%;
}
body{
    background-color:#f4f9ff;
    color: #333;
    font-size: 0.875rem;
}
img{
    max-width: 100%;
}
.container{
    max-width: 1000px;
    margin: 0 auto;
}
.inner{
    max-width:600px;
    margin: 0 auto;
}
.section-title{
    font-size: 1.75rem;
    font-weight: bold;
    margin-bottom: 10px;
}

/*----------------------------------
Header
----------------------------------*/
#header{
    margin-top: 60px;
}
#header .logo{
    width: 160px;
    line-height: 1px;
    margin-bottom: 15px;
}
#header .logo a{
    display: block;
}

/*----------------------------------
Mainvisual
----------------------------------*/
#mainvisual{
    margin-bottom: 60px;
}

/*----------------------------------
Index
----------------------------------*/
#index{
    background-color: #fff;
    padding: 30px 0;
    margin-bottom: 60px;
}
#index .index-ol{
    margin-left: 20px;
}
#index .index-ol li{
    margin-bottom: 20px;
}

/*----------------------------------
Detail
----------------------------------*/
#detail{
    margin-bottom: 100px;
}
#detail .content{
    display: flex;
    align-items: flex-start;
}
#detail .content img{
    width: 270px;
    margin-right: 60px;
}
#detail .content .title{
    font-size: 1.125rem;
    font-weight: bold;
}
#detail .content .text p{
    margin-bottom: 20px;
}
#detail .content dl{
    display: flex;
    flex-wrap: wrap;
    padding: 16px 0;
    margin-bottom: 25px;
    border-top: solid 1px #dedede;
    border-bottom: solid 1px #dedede;
}
#detail .content dt{
    width: 25%;
}
#detail .content dd{
    width: 75%;
}
#detail .content .link{
    color: #333;
}
#detail .content .link:hover{
    opacity: 0.8;
}

/*----------------------------------
Footer
----------------------------------*/
#footer{
    font-size: 0.725rem;
    padding: 15px 0;
}

/*----------------------------------
SP
----------------------------------*/
@media screen and (max-width: 1024px){
    .inner{
        padding: 0 40px;
    }
}

/*----------------------------------
SP-Header
----------------------------------*/
#header{
    padding: 0 10px;
}

/*----------------------------------
SP-Mainvisual
----------------------------------*/
#mainvisual{
    padding: 0 10px;
}

/*----------------------------------
SP-Detail
----------------------------------*/
#detail .content{
    flex-direction: column;
}
#detail .content img{
    width: 100%;
    margin-bottom: 25px;
}